@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Ageo";
    src: local("Ageo"), url(./fonts/bold.ttf) format("ttf");
  }

  @font-face {
    font-family: "Ageo";
    src: local("Ageo"), url(./fonts/Regular.ttf) format("ttf");
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
li,
ul,
ol,
button,
input,
textarea {
  font-family: "Ageo", sans-serif;
}

body {
  font-family: "Ageo", sans-serif;
}

.heroSection::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      90deg,
      rgba(255, 139, 45, 0.8) 0%,
      rgba(232, 80, 91, 0.8) 57%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    url("/assets/images/hero.jpg");
  clip-path: polygon(0 0, 100% 0%, 100% 69%, 0% 100%);
  z-index: -1;
  background-size: cover;
}

.heroSection::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.8) 0%,
      rgba(255, 255, 255, 0.8) 57%,
      rgba(255, 255, 255, 0.8) 100%
    ),
    url("/assets/images/hero-two.jpg");
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 69%);
  z-index: -1;
}

.heroButtonGradient {
  background: linear-gradient(
    106.38deg,
    #ff9127 18.11%,
    #f45356 52.23%,
    #090d48 104.85%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.videoButtonGradient {
  background: linear-gradient(
    106.38deg,
    #ff9127 18.11%,
    #f45356 52.23%,
    #090d48 104.85%
  );
  border-radius: 7px;
}
.sectionTitle {
  background: linear-gradient(
    106.38deg,
    #ff9127 18.11%,
    #f45356 52.23%,
    #090d48 104.85%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}
.aboutSection {
  position: relative;
  height: 100%;
}
.aboutBackground {
  background: linear-gradient(
    106.38deg,
    #ff9127 18.11%,
    #f45356 52.23%,
    #090d48 104.85%
  );
  border-radius: 20px;
}
.borderAboutBg {
  position: relative;
  z-index: 999;
}
/* .borderAboutBg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #000;
  border-radius: 20px;
  transform: rotate(-4.63deg);
  z-index: -1;
} */

.testimonialBg {
  background: #090d48;
  border-radius: 20px;
  color: white;
}

span.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
}
span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: linear-gradient(
    106.38deg,
    #ff9127 18.11%,
    #f45356 52.23%,
    #090d48 104.85%
  );
}
.videoSection {
  position: relative;
  height: 100%;
}

.imageFull img {
  width: 100% !important;
  height: 100% !important;
  position: relative !important;
}
.brandSection {
  position: relative;
}

.bookMeTitle {
  background: linear-gradient(276.17deg, #f45356 0%, #ff9127 104.34%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.blogSection {
  height: 100%;
  position: relative;
}

.menuIconBg {
  background: linear-gradient(276.17deg, #f45356 0%, #ff9127 104.34%);
  backdrop-filter: blur(25px);
}
.processTitle {
  background: linear-gradient(276.17deg, #f45356 0%, #ff9127 104.34%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-style: normal;
  font-weight: 700;
  font-size: 39px;
  line-height: 77px;
}

.tabletBigFont {
  @apply tablet:text-[50px] leading-[80px];
}
.phoneBigFont {
  @apply phone:text-[40px] leading-[60px];
}
@media screen and (min-width: 769px) {
  .aboutSection:before {
    content: "";
    background-repeat: no-repeat;
    background: #fff6ef;
    clip-path: polygon(0 24%, 100% 0%, 100% 100%, 0% 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .aboutBackground::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #000;
    border-radius: 20px;
    transform: rotate(-4.63deg);
    z-index: -1;
  }
  .videoSection:before {
    content: "";
    background-repeat: no-repeat;
    background: #fff6ef;
    clip-path: polygon(0 20%, 100% 0%, 100% 100%, 0% 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .brandSection::before {
    content: "";
    background-repeat: no-repeat;
    background: url("/assets/images/brand.jpg"),
      linear-gradient(280.58deg, #090d48 -16.1%, #f45356 39.6%, #ff9127 114.31%);

    background: linear-gradient(
        280.58deg,
        rgba(9, 13, 72, 0.9) -16.1%,
        rgba(244, 83, 86, 0.9) 39.6%,
        rgba(255, 145, 39, 0.9) 114.31%
      ),
      url("/assets/images/brand.jpg");

    clip-path: polygon(0 39%, 100% 0%, 100% 100%, 0% 100%);
    position: absolute;
    background-size: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  /* Border Style one */
  .borderProcessRight::after {
    position: absolute;
    top: 50%;
    right: 0;
    width: 1px;
    height: 100%;
    border-right: 2px dashed #f45356;
    content: "";
  }

  .borderProcessLineBorder::after {
    position: absolute;
    top: 50%;
    left: -55px;
    width: 110px;
    height: 3px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    content: "";
  }

  /* BorderTwo */
  .borderProcessLeft::after {
    position: absolute;
    top: 32%;
    left: -2px;
    width: 1px;
    height: 100%;
    border-right: 2px dashed #f45356;
    content: "";
  }

  .borderProcessLineBorderLeft::after {
    position: absolute;
    top: 50%;
    right: -55px;
    width: 110px;
    height: 3px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    content: "";
  }

  /* Three Border */

  .borderThree::after {
    position: absolute;
    top: -1%;
    right: 0;
    width: 1px;
    height: 100%;
    border-right: 2px dashed #f45356;
    content: "";
  }

  .borderThreeIcon::after {
    position: absolute;
    top: 50%;
    left: -55px;
    width: 110px;
    height: 3px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    content: "";
  }
  /* Border Four */
  .fourStyle::after {
    position: absolute;
    top: -34%;
    left: -2px;
    width: 1px;
    height: 100%;
    border-right: 2px dashed #f45356;
    content: "";
  }

  .fourStyleImage::after {
    position: absolute;
    bottom: 23%;
    right: -55px;
    width: 110px;
    height: 3px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    content: "";
  }

  .blogSection::before {
    content: "";
    clip-path: polygon(0 0, 100% 10%, 100% 90%, 0% 100%);
    background: linear-gradient(51.26deg, #e8505b -4.3%, #fc6e36 104.55%);
    position: absolute;
    background-size: cover;
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
    z-index: -1;
  }
  .swiper-slide-next .testimonialBg {
    background: linear-gradient(276.17deg, #f45356 0%, #ff9127 104.34%);
    border-radius: 20px;
    color: white;
  }
}
@media screen and (max-width: 768px) {
  .brandSection::before {
    content: "";
    background-repeat: no-repeat;
    background: url("/assets/images/brand.jpg"),
      linear-gradient(280.58deg, #090d48 -16.1%, #f45356 39.6%, #ff9127 114.31%);

    background: linear-gradient(
        280.58deg,
        rgba(9, 13, 72, 0.9) -16.1%,
        rgba(244, 83, 86, 0.9) 39.6%,
        rgba(255, 145, 39, 0.9) 114.31%
      ),
      url("/assets/images/brand.jpg");
    position: absolute;
    background-size: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .sectionTitle {
    background: linear-gradient(
      106.38deg,
      #ff9127 18.11%,
      #f45356 52.23%,
      #090d48 104.85%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 60px;
    text-transform: uppercase;
  }
  .blogSection::before {
    content: "";
    background: linear-gradient(51.26deg, #e8505b -4.3%, #fc6e36 104.55%);
    position: absolute;
    background-size: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}
.text64 {
  @apply text-[64px] leading-[88px] tablet:text-[50px] tablet:leading-[60px] phone:text-[40px] phone:leading-[60px];
}
.text40 {
  @apply text-[40px] leading-[77px] phone:text-[30px] phone:leading-[60px];
}
.text44 {
  @apply text-[44px] leading-[60px];
}
.text24 {
  @apply text-[24px] leading-[30px];
}
.tex39 {
  @apply text-[39px] leading-[77px];
}
.text32 {
  @apply text-[32px] leading-[34px];
}
.text25 {
  @apply text-[25px] leading-[32px];
}
.text88 {
  @apply text-[88px] leading-[108px] tablet:text-[50px] tablet:leading-[80px] phone:text-[30px] phone:leading-[60px] desktop:text-[64px];
}
