@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Ageo";
    src: local("Ageo"), url(./fonts/bold.ttf) format("ttf");
  }

  @font-face {
    font-family: "Ageo";
    src: local("Ageo"), url(./fonts/Regular.ttf) format("ttf");
  }
}

.heroSection::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      90deg,
      rgba(255, 139, 45, 0.8) 0%,
      rgba(232, 80, 91, 0.8) 57%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    url("/assets/images/hero.jpg");
  clip-path: polygon(0 0, 100% 0%, 100% 69%, 0% 100%);
  z-index: -1;
  background-size: cover;
}

.heroSection::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.8) 0%,
      rgba(255, 255, 255, 0.8) 57%,
      rgba(255, 255, 255, 0.8) 100%
    ),
    url("/assets/images/hero-two.jpg");
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 69%);
  z-index: -1;
}

.heroButtonGradient {
  background: linear-gradient(
    106.38deg,
    #ff9127 18.11%,
    #f45356 52.23%,
    #090d48 104.85%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.videoButtonGradient {
  background: linear-gradient(
    106.38deg,
    #ff9127 18.11%,
    #f45356 52.23%,
    #090d48 104.85%
  );
  border-radius: 7px;
}
.sectionTitle {
  background: linear-gradient(
    106.38deg,
    #ff9127 18.11%,
    #f45356 52.23%,
    #090d48 104.85%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 88px;
  text-transform: uppercase;
}
.aboutSection {
  position: relative;
  height: 100%;
}
.aboutSection:before {
  content: "";
  background-repeat: no-repeat;
  background: #fff6ef;
  clip-path: polygon(0 24%, 100% 0%, 100% 100%, 0% 100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.aboutBackground {
  background: linear-gradient(
    106.38deg,
    #ff9127 18.11%,
    #f45356 52.23%,
    #090d48 104.85%
  );
}
.borderAboutBg {
  position: relative;
  z-index: 1;
}
.borderAboutBg::after {
  content: "";
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #000;
  border-radius: 20px;
  transform: rotate(-4.63deg);
  z-index: -1;
}
.testimonialBg {
  background: #fff6ef;
  border-radius: 20px;
  color: black;
}
.swiper-slide-next .testimonialBg {
  background: linear-gradient(276.17deg, #f45356 0%, #ff9127 104.34%);
  border-radius: 20px;
  color: white;
}
span.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
}
span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: linear-gradient(
    106.38deg,
    #ff9127 18.11%,
    #f45356 52.23%,
    #090d48 104.85%
  );
}
.videoSection {
  position: relative;
  height: 100%;
}
.videoSection:before {
  content: "";
  background-repeat: no-repeat;
  background: #fff6ef;
  clip-path: polygon(0 20%, 100% 0%, 100% 100%, 0% 100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.imageFull img {
  width: 100% !important;
  height: 100% !important;
  position: relative !important;
}
.brandSection {
  position: relative;
}
.brandSection::before {
  content: "";
  background-repeat: no-repeat;
  background: url("/assets/images/brand.jpg"),
    linear-gradient(280.58deg, #090d48 -16.1%, #f45356 39.6%, #ff9127 114.31%);

  background: linear-gradient(
      280.58deg,
      rgba(9, 13, 72, 0.9) -16.1%,
      rgba(244, 83, 86, 0.9) 39.6%,
      rgba(255, 145, 39, 0.9) 114.31%
    ),
    url("/assets/images/brand.jpg");

  clip-path: polygon(0 39%, 100% 0%, 100% 100%, 0% 100%);
  position: absolute;
  background-size: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.bookMeTitle {
  background: linear-gradient(276.17deg, #f45356 0%, #ff9127 104.34%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.blogSection {
  height: 100%;
  position: relative;
}

.blogSection::before {
  content: "";
  clip-path: polygon(0 0, 100% 10%, 100% 90%, 0% 100%);
  background: linear-gradient(51.26deg, #e8505b -4.3%, #fc6e36 104.55%);
  position: absolute;
  background-size: cover;
  top: 0;
  left: 0;
  width: 60%;
  height: 100%;
  z-index: -1;
}
